@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: o;
  margin: o;
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}


html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  font-family: var(--font-inter);
  /* font-family: font-inter */
  /* color: var(--color-dark-100); */
  /* font-family: var(--font-semibold); */
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* @utility h3-semibold {
  @apply font-semibold text-xl;
}

@utility base-semibold {
  @apply font-semibold text-base;
}

@utility small-medium {
  @apply font-medium text-xs;
} */

/* @layer components {
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center bg-black min-h-[7vh];

    nav {
      @apply container mx-auto flex-between px-5 2xl:px-0;

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply bg-transparent border-none outline-none cursor-pointer;
        }
      }

      ul {
        @apply flex-center gap-8;

        a {
          @apply hidden md:block text-white opacity-80 font-regular text-sm cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
        }
      }
    }
  }
  #hero{

  }
} */